.header-main {
    position: relative;
    width: 100%;
    background-color: #1565c0; /* Medical blue color */
    height: 56px;
    top: 0;
    left: 0;
  }
  
  .header-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
  
  .header-logo {
    margin-left: 0.8rem;
  }
  
  .header-logo a {
    color: #4caf50; /* Blockchain green color */
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Arial', sans-serif; /* Standard font family */
    font-weight: bold; /* Bold font weight */
  }
  
  .spacer {
    flex: 1;
  }
  
  .header-items ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-items label {
    padding: 0 0.5rem;
  }
  
  .header-items a {
    color: #ffffff; /* White color for links */
    text-decoration: none;
  }
  
  .header-items a:hover,
  .header-items a:active {
    color: #cccccc; /* Lighter color on hover */
  }
  